.global_client {
    display: flex;
    flex-flow: column wrap;
}

.client_main_title {
    display: flex;
    flex-flow: column wrap;
    text-align:center;
}

.client_h2 {
    width: 100%;
    font-size: 22px;
}

.client_img_yellow {
    width: 100%;
}

.client_testimonials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.client_container {
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 30px;
    margin-left: 20px;
    /* background-color: aquamarine; */
}

.client_this {
    text-align: right;
    width: 10%;
    /* background-color: cornflowerblue; */
}

.client_this > p {
    font-size: 140px;
}

.client_bundle {
    display: flex;
    flex-flow: column wrap;
    width: 90%;
}

.client_title {
    display: inline-flex;
    width: 100%;
    /* max-height: 70px; */
    /* background-color: bisque; */
}

.client_title > .client_this {
    /* text-align:center; */
    display: inline-flex;
    text-align: right;
    /* background-color: blue; */
}

.client_title > .client_para {
    align-self: flex-end;
    /* background-color: violet; */
    text-align: start;
}

.client_para {
    /* align-self: center; */
    font-size: 19px; /*18*/
    width: 100%;
    margin : 12% 0 5% 2%;
}

.client_info {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    /* align-content :flex-end; */
    /* flex-flow: row wrap; */
    width: 100%;
    /* background-color: green; */
}

.client_test {
    align-self: flex-end;
    text-align: right;
    justify-content: stretch;
    width: 68%;
    margin : 0 4% 0 0;
    /* height: 100%; */
}

.client_test > span {
    font-size: 17px;
}

.client_icon{
    display: inline-flex;
    text-align: center;
    width: 28%;
    margin : 0 0 0 0;
    /* height: 100%; */
    /* background-color: blueviolet; */
}

.client_icon > .icon {
    width: 90%;
    border-radius: 20px;
}

/*
.exp_h3 > span {
    width: 100%;
    font-weight: normal;
    color: rgb(152, 154, 158);
}

.exp_h3 > h3 {
    justify-content: space-evenly;
    /* font-size: 23px; */
/* } */
/* 
.exp_icon {
    width: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}


.exp_paragraph {
    font-size: 19px;
    padding: 3.5% 6% 7%;
}
  */
