.global_client {
    display: flex;
    flex-flow: column wrap;
}

.client_main_title {
    display: flex;
    flex-flow: column wrap;
    text-align:center;
    width: 100%;
}

.client_h2 {
    width: 100%;
    font-size: 22px;
}

.client_img_yellow {
    width: 100%;
}

.client_testimonials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.client_container {
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 30px;
    margin-left: 20px;
}

.client_this {
    text-align: right;
    width: 10%;
}

.client_this > p {
    font-size: 15vw;
}

.client_bundle {
    display: flex;
    flex-flow: column wrap;
    width: 90%;
}

.client_title {
    display: inline-flex;
    width: 100%;
}

.client_title > .client_this {
    display: inline-flex;
    text-align: right;
}

.client_title > .client_para {
    align-self: flex-end;
    text-align: start;
}

.client_para {
    font-size: 19px; 
    width: 100%;
    margin : 12% 0 5% 2%;
}

.client_info {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
}

.client_test {
    align-self: flex-end;
    text-align: right;
    justify-content: stretch;
    width: 68%;
    margin : 0 4% 0 0;
}

.client_test > span {
    font-size: 17px;
}

.client_icon{
    display: inline-flex;
    text-align: center;
    width: 28%;
    margin : 0 0 0 0;
}

.client_icon > .icon {
    width: 90%;
    border-radius: 20px;
}

@media only screen and (max-width: 400px) {
    .underligning {
        width: 34%;
    }

    .client_h2 > h2 {
        font-size: 27px;
        width: 100%;
    }

    .client_container {
        width: 100%;
        padding-right: 6.1%;
    }

    .client_this {
        text-align: left;
    }

    .client_this > p {
        font-size: 27vw;
    }

    .client_para {
        font-size: 16px; 
        width: 100%;
        margin : 9.5% 0 5% 6%;
    }

    .client_test {
        align-self: flex-end;
        text-align: right;
        width: 62%;
        margin : 0 8% 0 0;
    }

    .client_test > span {
        font-size: 13px;
    }

    .client_test > h3 {
        font-size: 17px;
    }
    
    .client_icon > .icon {
        width: 100%;
        border-radius: 14px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
    .underligning {
        width: 34%;
    }

    .client_h2 > h2 {
        font-size: 35px;
        width: 100%;
    }

    .client_container {
        width: 100%;
        padding-right: 6.1%;
    }

    .client_this {
        text-align: left;
    }

    .client_this > p {
        font-size: 28vw;
    }

    .client_para {
        font-size: 20px; 
        width: 100%;
        margin : 9% 0 5% 5%;
    }

    .client_test {
        align-self: flex-end;
        text-align: right;
        width: 62%;
        margin : 0 7% 0 0;
    }

    .client_test > span {
        font-size: 15px;
    }

    .client_test > h3 {
        font-size: 22px;
    }
    
    .client_icon > .icon {
        width: 100%;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .client_this > p {
        font-size: 140px;
    }
}
