/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@200;400;700;800;900&display=swap');

body{
    font-family: 'Nunito Sans', 'Bebas Neue', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
} */
.contactContainer{
    margin-top: 15%;
}
.mainContactContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    margin-bottom: 30%;

}

.formulaireContact{
    display: flex;
    flex-flow: column;
    max-width: 350px;
    width: 100%;
    padding: 20px;

    
    background-color: #F5F6F8;
}
.form-example{
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.texteContact{
    max-width: 350px;
    width: 100%;
    padding: 10px;

}

.texteD{
    font-weight: bold;
    padding: 10px;

}

.tailleD{
    max-width: 310px;
    min-width: 310px;
    /* width: 100%; */
    max-height: 210px;
    min-height: 210px;
    padding: 10px;
    border-radius: 6px;
    border: solid rgb(199, 198, 198);
    border-width: 1px;
    resize: none;
}

.contactTitle{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-bottom: 7%;
}

.gris{
    background-color: #F5F6F8;
}
.jaune{
    background-color: #F7e05e;
}


.bouton {
    border: none;
    padding: 10px;
    padding-left:20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 30px 10px;
    border-radius: 20px;
    border-color:rgb(168, 168, 168);
  }
  .tableContact, .tableContact tbody{
      display: flex;
      flex-direction: column;
  }
  .table tr{
      display: flex;
      flex-flow: row nowrap;
      /* align-content: space-between; */
      padding-left: 3%;
  }
  .contentTable{
      display: flex;
      justify-content: space-between;
  }
 