.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background: url(/Template-CV/images/wave-bg.svg);
    background-size:100% 50%;
    background-repeat: no-repeat;
    

}

nav{
    display: flex;
    flex-flow: row;
    font-family:'Nunito Sans', sans-serif;
    padding-bottom: 5%;
}
.logoNav{
    display: flex;
    justify-content: flex-start;
    font-family:'Nunito Sans', sans-serif;
    flex-basis: 4em;
    flex-grow: 4;
    padding-left: 2%;
}
.linkNav{
    text-align: center;
    align-self: center;
    text-decoration: none;
    color: black;
    flex: 1 0 auto;
}


/* Premier bloc du main */
.mainContainer{
    display: flex;
    flex-flow: row;
    align-items: center;
    box-sizing: border-box;
   
    flex-basis: auto;
    gap: 10%;
}
.divContainer{
    display: flex;
    flex-direction:column ;
    flex-basis: auto;
    flex-grow: 0;
    order:-2;

    gap: 15px;
    padding:3%;
    
}

.mainContainer h2{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    order:-2;
    margin: 0%;
    
    
}
.mainContainer p{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 3em;

}
table{
    font-family: 'Nunito Sans', sans-serif;;
}




.cliento{
    order: -1;
    padding:3%;
    

}
.cliento img{
    border-radius: 5%;
}
/* fin du premier bloc du main */

/* Deuxième bloc du main */

.secondDivContainer{
    display:flex;
    flex-flow: column;
    align-items: center;
    
}
.secondTitleDiv{
    margin-top: 5%;
    margin-bottom: 0%;
}
.secondDivContainer p{
    display: flex;
    flex-flow: wrap;
    flex-basis: 100%;
    flex-grow: 0;
    padding: 2%;
    text-align: center;
}
/* fin deuxième bloc du main */

/* Début troisième bloc du main*/
.divLogo{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    padding-bottom: 10%;
    
    

}
.divLogo div span{
    display: flex;
    justify-content: center;
}
