/* body{
} */
h1{
    display: flex;
    justify-content: center;
    font-family:'Nunito Sans', sans-serif;

    flex-basis: 4em;
    flex-grow: 4;
    
    
    

}
nav{
    display: flex;
    flex-flow: row;
    font-family:'Nunito Sans', sans-serif;
    
    

}
a{
    text-align: center;
    align-self: center;
    
    text-decoration: none;
    color: black;
    
    flex: 1 0 auto;
    

}
.mainContainer{
    display: flex;
    flex-flow: row;
    align-items: center;
    box-sizing: border-box;
   
    flex-basis: auto;
    gap: 10%;
}
.divContainer{
    display: flex;
    flex-direction:column ;
    flex-basis: auto;
    flex-grow: 0;
    order:-2;

    gap: 15px;
    padding:3%;
    
}

.mainContainer h2{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    order:-2;
    margin: 0%;
    font-family: 'Nunito Sans', sans-serif;
    
}
.mainContainer p{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 3em;
    font-family: 'Nunito Sans', sans-serif;
}
table{
    font-family: 'Nunito Sans', sans-serif;;
}




.cliento{
    order: -1;
    padding:3%;
    

}
.cliento img{
    border-radius: 5%;
}